<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1>Bienvenue sur PO-POTINS</h1>
    <a href="/gossips/new/">ajouter un potin</a>
    <h2>Voila la liste des potins :</h2>
    <% gossips.each_with_index do |gossip, ix| %>
      <p>
        <a href="/gossips/<%= ix %>">potin <%= ix %> :</a><br/>
        <%= gossip.author %> a dit "<%= gossip.content %>"
      </p>
    <% end %>
  </body>
</html>
